<mat-toolbar color="primary">
    Sign Up Flow With Firebase

    <ng-container *ngIf="_authService.isLoggedIn !== true; else logoutButton;">
        <button mat-button routerLink="login">
            <mat-icon>login</mat-icon>
            Login
        </button>
    </ng-container>

    <ng-template #logoutButton>
        <button mat-button  [matMenuTriggerFor]="useMenu" >
            <mat-icon>account_circle</mat-icon>
            {{user.displayName}}
            <mat-icon>expand_more</mat-icon>
            
        </button>
    </ng-template>

</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>

<mat-menu #useMenu="matMenu">
  <button mat-menu-item (click)="logout()" >Logout</button>
</mat-menu>