<mat-toolbar color="primary">
    Sign Up Flow With Firebase

    <ng-container *ngIf="_authService.isLoggedIn !== true; else logoutButton;">
        <button mat-button routerLink="login">
            <mat-icon>login</mat-icon>
            Login
        </button>
    </ng-container>

    <ng-template #logoutButton>
        <button mat-button (click)="logout()">
            <mat-icon>login</mat-icon>
            LogOut
        </button>
    </ng-template>

</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>